//COLOR
$primary: #2163e8;
$dark-custom: #0f0f10;
$bg-dark-tertiary: #191a1f;
// NAVBAR

// CONTAINER

// CARD
$card-border-radius: 10px;

// BOOTSTRAP
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.navbar-toggler{
    border: none;
}
.bg-dark-tertiary{
    background: $bg-dark-tertiary;
}

.icon-xl{
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
}

.icon-md{
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
}

.btn-rounded{
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 14px;
}

body{
    font-family: 'Varela Round', sans-serif;
    background: $bg-dark-tertiary;
}
